<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}
<div class="row">
    <div class="col-12">
        <section id="model" class="col-12 centered">
            <div id="webcam-wrapper">
              
            </div>
            <div id="graph-wrapper"></div>
        </section>
    </div>
</div>
<br>
<br>
<br>

{% endblock %}
